.nav {
    overflow: hidden;
}
.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 1px solid #c81523;
    padding: 3px 0 0 14px;
}
.sk_list {
    float: left;
}
.sk_list ul li {
    float: left;
}
.sk_list ul li a {
    display: block;
    font-size: 16px;
    line-height: 47px;
    padding: 0 30px;
    font-weight: 700;
    color: #000;
}
.sk_con {
    float: left;
}
.sk_con ul li {
    float: left;
    display: block;
    font-size: 16px;
    line-height: 48px;
    padding: 0 20px;
    font-size: 14px;
}
.sk_con ul li:last-child a::after {
    content: '\e924';
    font-family: 'icomoon';
}
.sk_bd ul li {
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 13px;
    width: 290px;
    height: 460px;
    border: 1px solid transparent;
    /* background-color: pink; */
    text-align: center;
}
.sk_bd ul li p {
    font-size: 14px;
    color: #8c8c8c;
    margin: 0 15px
}
.sk_bd ul li .price .newprice {

    float: left;
    margin-top: 28px;
    margin-left: 15px;
    color: #e60012;
    font-size: 18px;
}
.sk_bd ul li .price .oldprice {
    position: absolute;
    bottom: 74px;
    left: 85px;
    float: left;
    font-size: 10px;
    color: #8c8c8c;
}
.sk_bd ul li .yishou {
    position: relative;
    float: left;
}
.sk_bd ul li .yishou .p1{
    position: absolute;
    bottom: -55px;
    left: -75px;
}
.sk_bd ul li .yishou .p2 {
    position: absolute;
    bottom: -55px;
    right: 30px;
}
.sk_bd ul li .yishou .jindu .m{
    width: 150px;
    height: 15px;
    border: 1px solid red;
    border-radius: 7px;
    background-color: #e60012;
}
.sk_bd ul li .yishou .jindu .n {
    transition: all 0.5s;
    width: 50px;
    height: 100%;
    background-color: red;
}
.sk_bd ul li .qianggou {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 52px;
    color: #fff;
    background-color: #c81523;
    text-align: center;
    line-height: 52px;
    font-size: 20px;
}
.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}
.sk_bd ul li:hover {
    border: 1px solid #c81523;
}