.w {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo {
    padding-top: 18px;
}
.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.login {
    float: right;
    font-size: 14px;
}
.login a {
    color: #c81523;
}
.reg-form {
    width: 600px;
    /* background-color: pink; */
    margin: 50px auto 0;
}
.reg-form ul li {
    margin-bottom: 20px;
}
.reg-form ul li label {
    font-size: 14px;
    display: inline-block;
    width: 88px;
    margin-right: 15px;
}
.reg-form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.error {
    color: #c81523;
}
.error_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url();
    margin-top: -2px;
}
.safe {
    padding-left: 175px;
}
.safe em {
    padding: 0 12px;
    color: #fff;
}
.safe .ruo {
    background-color: #de1111;
}
.safe .zhong {
    background-color: #40b83f;
}
.safe .qiang {
    background-color: #f79100;
}
.safe .inp {
    width: 5px;
    height: 5px;
}
.agree {
    padding-left: 95px;
}
.agree input {
    vertical-align: middle;

}
.agree a {
    color: #1ba1e6;
}
.btn {
    width: 200px;
    height: 34px;
    background-color: #de1111;
    color: #fff;
    margin: 30px 70px;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 15px;
}
.links a {
    margin: 0 10px;
} 
.copyright {
    line-height: 20px;
}